In [67]:
from google.colab import drive
import sys

# Mount Google Drive
drive.mount('/content/drive')

# Get the absolute path of the current folder
abspath_curr = '/content/drive/My Drive/Colab Notebooks/ML1/'

# Get the absolute path of the shallow utilities folder
abspath_util_shallow = '/content/drive/My Drive/Colab Notebooks/utilities/p2_shallow_learning/'

# Get the absolute path of the shallow models folder
abspath_model_shallow = '/content/drive/My Drive/Colab Notebooks/models/p2_shallow_learning/'



import warnings

# Ignore warnings
warnings.filterwarnings('ignore')


import matplotlib.pyplot as plt
%matplotlib inline 

# Set matplotlib sizes
plt.rc('font', size=20)
plt.rc('axes', titlesize=20)
plt.rc('axes', labelsize=20)
plt.rc('xtick', labelsize=20)
plt.rc('ytick', labelsize=20)
plt.rc('legend', fontsize=20)
plt.rc('figure', titlesize=20)

%tensorflow_version 2.x 
import tensorflow as tf
from tensorflow import keras


# The random seed
random_seed = 42

# Set random seed in tensorflow
tf.random.set_seed(random_seed)

# Set random seed in numpy
import numpy as np
np.random.seed(random_seed)

# Change working directory to the absolute path of the shallow utilities folder
%cd $abspath_util_shallow

# Import the shallow utitilities
%run pmlm_utilities_shallow.ipynb

ERROR:root:File `'pmlm_utilities_shallow.ipynb.py'` not found.

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
Colab only includes TensorFlow 2.x; %tensorflow_version has no effect.
[Errno 2] No such file or directory: '/content/drive/My Drive/Colab Notebooks/utilities/p2_shallow_learning/'
/content

In [68]:

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [69]:
df = pd.read_csv(abspath_curr + 'data/sessions.csv')

In [70]:
print(df.head)


dfsample=df.sample(n=10000, random_state=47)

<bound method NDFrame.head of              user_id            action action_type  \
0         d1mm9tcy42            lookup         NaN
1         d1mm9tcy42    search_results       click
2         d1mm9tcy42            lookup         NaN
3         d1mm9tcy42    search_results       click
4         d1mm9tcy42            lookup         NaN
...              ...               ...         ...
10567732  9uqfg8txu3         dashboard        view
10567733  9uqfg8txu3              edit        view
10567734  9uqfg8txu3     webcam_upload   -unknown-
10567735  9uqfg8txu3            active   -unknown-
10567736  9uqfg8txu3  show_personalize        data

                        action_detail      device_type  secs_elapsed
0                                 NaN  Windows Desktop         319.0
1                 view_search_results  Windows Desktop       67753.0
2                                 NaN  Windows Desktop         301.0
3                 view_search_results  Windows Desktop       22141.0
4                                 NaN  Windows Desktop         435.0
...                               ...              ...           ...
10567732                    dashboard  Windows Desktop         556.0
10567733                 edit_profile  Windows Desktop        6624.0
10567734                    -unknown-  Windows Desktop      200125.0
10567735                    -unknown-        -unknown-       17624.0
10567736  user_profile_content_update  Windows Desktop        1221.0

[10567737 rows x 6 columns]>

In [71]:
column_names = list(dfsample.columns)
print(column_names)

['user_id', 'action', 'action_type', 'action_detail', 'device_type', 'secs_elapsed']

In [72]:
df_grouped = df.groupby(by="user_id")["secs_elapsed"].sum()

In [73]:
df_grouped.to_csv("session_grouped.csv")

In [74]:
print(df_grouped)

user_id
00023iyk9l     867896.0
0010k6l0om     586543.0
001wyh0pz8     282965.0
0028jgx1x1     297010.0
002qnbzfs5    6487080.0
                ...
zzxox7jnrx     639436.0
zzy7t0y9cm      73771.0
zzysuoqg6x       1731.0
zzywmcn0jv    2149949.0
zzzlylp57e     430959.0
Name: secs_elapsed, Length: 135483, dtype: float64

In [77]:
# computing number of rows
rows = len(df_grouped.axes[0])

In [76]:
# computing number of columns
print(rows)

135483

In [79]:
df_train=pd.read_csv(abspath_curr + 'data/train.csv')
df_test=pd.read_csv(abspath_curr + 'data/test.csv')

In [80]:

column_names2 = list(df_train.columns)
print(column_names2)

column_names3 = list(df_test.columns)
print(column_names3)

['user_id', 'date_account_created', 'timestamp_first_active', 'date_first_booking', 'gender', 'age', 'signup_method', 'signup_flow', 'language', 'affiliate_channel', 'affiliate_provider', 'first_affiliate_tracked', 'signup_app', 'first_device_type', 'first_browser', 'country_destination']
['user_id', 'date_account_created', 'timestamp_first_active', 'date_first_booking', 'gender', 'age', 'signup_method', 'signup_flow', 'language', 'affiliate_channel', 'affiliate_provider', 'first_affiliate_tracked', 'signup_app', 'first_device_type', 'first_browser']

In [27]:
dfg_train = df_train.groupby(by="id")
dfg_test = df_test.groupby(by="id")

In [81]:

trainrows = len(df_train.axes[0])
testrows=len(df_test.axes[0])

In [82]:
print(trainrows)

213451

In [83]:
print(testrows)

62096

In [86]:
train_new=df_train.merge(df_grouped, on="user_id", how="left")

In [87]:
test_new=df_test.merge(df_grouped, on="user_id", how="inner")

In [88]:
print(train_new.head)

<bound method NDFrame.head of            user_id date_account_created  timestamp_first_active  \
0       gxn3p5htnn           2010-06-28            2.009030e+13
1       820tgsjxq7           2011-05-25            2.009050e+13
2       4ft3gnwmtx           2010-09-28            2.009060e+13
3       bjjt8pjhuk           2011-12-05            2.009100e+13
4       87mebub9p4           2010-09-14            2.009120e+13
...            ...                  ...                     ...
213446  zxodksqpep           2014-06-30            2.014060e+13
213447  mhewnxesx9           2014-06-30            2.014060e+13
213448  6o3arsjbb4           2014-06-30            2.014060e+13
213449  jh95kwisub           2014-06-30            2.014060e+13
213450  nw9fwlyb5f           2014-06-30            2.014060e+13

       date_first_booking     gender   age signup_method  signup_flow  \
0                     NaN  -unknown-   NaN      facebook            0
1                     NaN       MALE  38.0      facebook            0
2              2010-08-02     FEMALE  56.0         basic            3
3              2012-09-08     FEMALE  42.0      facebook            0
4              2010-02-18  -unknown-  41.0         basic            0
...                   ...        ...   ...           ...          ...
213446                NaN       MALE  32.0         basic            0
213447                NaN  -unknown-   NaN         basic            0
213448                NaN  -unknown-  32.0         basic            0
213449                NaN  -unknown-   NaN         basic           25
213450                NaN  -unknown-   NaN         basic           25

       language affiliate_channel affiliate_provider first_affiliate_tracked  \
0            en            direct             direct               untracked
1            en               seo             google               untracked
2            en            direct             direct               untracked
3            en            direct             direct               untracked
4            en            direct             direct               untracked
...         ...               ...                ...                     ...
213446       en         sem-brand             google                     omg
213447       en            direct             direct                  linked
213448       en            direct             direct               untracked
213449       en             other              other           tracked-other
213450       en            direct             direct               untracked

       signup_app first_device_type  first_browser country_destination  \
0             Web       Mac Desktop         Chrome                 NDF
1             Web       Mac Desktop         Chrome                 NDF
2             Web   Windows Desktop             IE                  US
3             Web       Mac Desktop        Firefox               other
4             Web       Mac Desktop         Chrome                  US
...           ...               ...            ...                 ...
213446        Web       Mac Desktop         Safari                 NDF
213447        Web   Windows Desktop         Chrome                 NDF
213448        Web       Mac Desktop        Firefox                 NDF
213449        iOS            iPhone  Mobile Safari                 NDF
213450        iOS            iPhone      -unknown-                 NDF

        secs_elapsed
0                NaN
1                NaN
2                NaN
3                NaN
4                NaN
...              ...
213446     5141396.0
213447     2878924.0
213448      342982.0
213449      341609.0
213450     2759210.0

[213451 rows x 17 columns]>

In [89]:
print(test_new.head)

<bound method NDFrame.head of           user_id date_account_created  timestamp_first_active  \
0      5uwns89zht           2014-07-01            2.014070e+13
1      jtl0dijy2j           2014-07-01            2.014070e+13
2      xx0ulgorjt           2014-07-01            2.014070e+13
3      6c6puo6ix0           2014-07-01            2.014070e+13
4      czqhjk3yfe           2014-07-01            2.014070e+13
...           ...                  ...                     ...
61663  cv0na2lf5a           2014-09-30            2.014090e+13
61664  zp8xfonng8           2014-09-30            2.014090e+13
61665  fa6260ziny           2014-09-30            2.014090e+13
61666  87k0fy4ugm           2014-09-30            2.014090e+13
61667  9uqfg8txu3           2014-09-30            2.014090e+13

       date_first_booking     gender   age signup_method  signup_flow  \
0                     NaN     FEMALE  35.0      facebook            0
1                     NaN  -unknown-   NaN         basic            0
2                     NaN  -unknown-   NaN         basic            0
3                     NaN  -unknown-   NaN         basic            0
4                     NaN  -unknown-   NaN         basic            0
...                   ...        ...   ...           ...          ...
61663                 NaN  -unknown-  31.0         basic            0
61664                 NaN  -unknown-   NaN         basic           23
61665                 NaN  -unknown-   NaN         basic            0
61666                 NaN  -unknown-   NaN         basic            0
61667                 NaN     FEMALE  49.0         basic            0

      language affiliate_channel affiliate_provider first_affiliate_tracked  \
0           en            direct             direct               untracked
1           en            direct             direct               untracked
2           en            direct             direct                  linked
3           en            direct             direct                  linked
4           en            direct             direct               untracked
...        ...               ...                ...                     ...
61663       en            direct             direct               untracked
61664       ko            direct             direct               untracked
61665       de            direct             direct                  linked
61666       en         sem-brand             google                     omg
61667       en             other              other           tracked-other

      signup_app first_device_type  first_browser  secs_elapsed
0          Moweb            iPhone  Mobile Safari      119187.0
1          Moweb            iPhone  Mobile Safari      250119.0
2            Web   Windows Desktop         Chrome      975575.0
3            Web   Windows Desktop             IE      123001.0
4            Web       Mac Desktop         Safari      454023.0
...          ...               ...            ...           ...
61663        Web   Windows Desktop             IE     2534232.0
61664    Android     Android Phone      -unknown-       51618.0
61665        Web   Windows Desktop        Firefox      823297.0
61666        Web       Mac Desktop         Safari      352068.0
61667        Web   Windows Desktop         Chrome     2804544.0

[61668 rows x 16 columns]>

In [90]:
dfmain=pd.concat([train_new, test_new], ignore_index=True)

In [91]:
print(dfmain.head)

<bound method NDFrame.head of            user_id date_account_created  timestamp_first_active  \
0       gxn3p5htnn           2010-06-28            2.009030e+13
1       820tgsjxq7           2011-05-25            2.009050e+13
2       4ft3gnwmtx           2010-09-28            2.009060e+13
3       bjjt8pjhuk           2011-12-05            2.009100e+13
4       87mebub9p4           2010-09-14            2.009120e+13
...            ...                  ...                     ...
275114  cv0na2lf5a           2014-09-30            2.014090e+13
275115  zp8xfonng8           2014-09-30            2.014090e+13
275116  fa6260ziny           2014-09-30            2.014090e+13
275117  87k0fy4ugm           2014-09-30            2.014090e+13
275118  9uqfg8txu3           2014-09-30            2.014090e+13

       date_first_booking     gender   age signup_method  signup_flow  \
0                     NaN  -unknown-   NaN      facebook            0
1                     NaN       MALE  38.0      facebook            0
2              2010-08-02     FEMALE  56.0         basic            3
3              2012-09-08     FEMALE  42.0      facebook            0
4              2010-02-18  -unknown-  41.0         basic            0
...                   ...        ...   ...           ...          ...
275114                NaN  -unknown-  31.0         basic            0
275115                NaN  -unknown-   NaN         basic           23
275116                NaN  -unknown-   NaN         basic            0
275117                NaN  -unknown-   NaN         basic            0
275118                NaN     FEMALE  49.0         basic            0

       language affiliate_channel affiliate_provider first_affiliate_tracked  \
0            en            direct             direct               untracked
1            en               seo             google               untracked
2            en            direct             direct               untracked
3            en            direct             direct               untracked
4            en            direct             direct               untracked
...         ...               ...                ...                     ...
275114       en            direct             direct               untracked
275115       ko            direct             direct               untracked
275116       de            direct             direct                  linked
275117       en         sem-brand             google                     omg
275118       en             other              other           tracked-other

       signup_app first_device_type first_browser country_destination  \
0             Web       Mac Desktop        Chrome                 NDF
1             Web       Mac Desktop        Chrome                 NDF
2             Web   Windows Desktop            IE                  US
3             Web       Mac Desktop       Firefox               other
4             Web       Mac Desktop        Chrome                  US
...           ...               ...           ...                 ...
275114        Web   Windows Desktop            IE                 NaN
275115    Android     Android Phone     -unknown-                 NaN
275116        Web   Windows Desktop       Firefox                 NaN
275117        Web       Mac Desktop        Safari                 NaN
275118        Web   Windows Desktop        Chrome                 NaN

        secs_elapsed
0                NaN
1                NaN
2                NaN
3                NaN
4                NaN
...              ...
275114     2534232.0
275115       51618.0
275116      823297.0
275117      352068.0
275118     2804544.0

[275119 rows x 17 columns]>

In [94]:
dfmain.to_csv(abspath_curr + 'data/dfmain.csv')

In [95]:
dfmain = pd.read_csv(abspath_curr + 'data/dfmain.csv')

In [96]:
print(dfmain.columns)

Index(['Unnamed: 0', 'user_id', 'date_account_created',
       'timestamp_first_active', 'date_first_booking', 'gender', 'age',
       'signup_method', 'signup_flow', 'language', 'affiliate_channel',
       'affiliate_provider', 'first_affiliate_tracked', 'signup_app',
       'first_device_type', 'first_browser', 'country_destination',
       'secs_elapsed'],
      dtype='object')

In [97]:
for i in dfmain.columns:
    print(dfmain[i].value_counts())

0         1
183417    1
183403    1
183404    1
183405    1
         ..
91712     1
91713     1
91714     1
91715     1
275118    1
Name: Unnamed: 0, Length: 275119, dtype: int64
gxn3p5htnn    1
rovxhr6nog    1
nc4ux3q4tw    1
kud7w7rgt3    1
wy8zv6d1n9    1
             ..
d8a9p2h103    1
ktt0xx5atu    1
clv09xnxyp    1
gq1fzwpxeb    1
9uqfg8txu3    1
Name: user_id, Length: 275119, dtype: int64
2014-07-23    1098
2014-07-22    1044
2014-07-17     972
2014-07-24     920
2014-07-18     885
              ...
2010-04-11       1
2010-01-23       1
2010-01-28       1
2010-01-31       1
2010-06-18       1
Name: date_account_created, Length: 1726, dtype: int64
2.014070e+13    21525
2.014080e+13    21500
2.014090e+13    18643
2.014060e+13    15741
2.014050e+13    14888
                ...
2.009100e+13        1
2.009060e+13        1
2.009050e+13        1
2.009120e+13        1
2.009030e+13        1
Name: timestamp_first_active, Length: 62, dtype: int64
2014-05-22    248
2014-06-11    231
2014-06-24    226
2014-05-21    225
2014-06-10    223
             ...
2010-01-31      1
2010-02-09      1
2010-06-10      1
2010-02-04      1
2015-06-28      1
Name: date_first_booking, Length: 1976, dtype: int64
-unknown-    129186
FEMALE        77458
MALE          68142
OTHER           333
Name: gender, dtype: int64
30.0      7708
28.0      7680
29.0      7642
31.0      7533
27.0      7453
          ...
2008.0       1
1995.0       1
1942.0       1
1953.0       1
1941.0       1
Name: age, Length: 144, dtype: int64
basic       197876
facebook     74792
google        2429
weibo           22
Name: signup_method, dtype: int64
0     205851
25     29697
12     11234
3       8822
2       6881
23      6374
24      4328
1       1047
8        313
6        301
21       197
5         36
20        14
16        11
15        10
10         2
4          1
Name: signup_flow, dtype: int64
en           265134
zh             2626
fr             1506
es             1171
ko             1109
de              975
it              633
ru              508
ja              344
pt              322
sv              176
nl              134
tr               92
da               75
pl               74
no               51
cs               49
el               30
th               28
hu               25
id               23
fi               20
ca                6
is                5
hr                2
-unknown-         1
Name: language, dtype: int64
direct           181232
sem-brand         36394
sem-non-brand     20067
seo               14328
other              9546
api                8167
content            4118
remarketing        1267
Name: affiliate_channel, dtype: int64
direct                 180931
google                  65888
other                   13035
facebook                 3986
bing                     3711
craigslist               3475
padmapper                 836
vast                      830
yahoo                     653
facebook-open-graph       566
gsp                       455
meetup                    358
email-marketing           270
naver                      64
baidu                      32
yandex                     18
wayn                        8
daum                        3
Name: affiliate_provider, dtype: int64
untracked        142934
linked            61967
omg               54796
tracked-other      6653
product            2348
marketing           281
local ops            69
Name: first_affiliate_tracked, dtype: int64
Web        219679
iOS         34469
Moweb       10491
Android     10480
Name: signup_app, dtype: int64
Mac Desktop           106240
Windows Desktop        86837
iPhone                 39662
iPad                   18026
Other/Unknown          11148
Android Phone           9419
Android Tablet          2092
Desktop (Other)         1505
SmartPhone (Other)       190
Name: first_device_type, dtype: int64
Chrome                  78575
Safari                  53262
-unknown-               44256
Firefox                 38627
Mobile Safari           29573
IE                      24713
Chrome Mobile            3172
Android Browser          1572
AOL Explorer              254
Opera                     228
Silk                      172
IE Mobile                 117
BlackBerry Browser         89
Chromium                   83
Mobile Firefox             63
Maxthon                    59
Apple Mail                 45
Sogou Explorer             43
SiteKiosk                  27
Iron                       24
RockMelt                   24
IceWeasel                  14
Yandex.Browser             14
Pale Moon                  13
SeaMonkey                  12
CometBird                  12
Camino                      9
TenFourFox                  8
Opera Mini                  8
wOSBrowser                  7
CoolNovo                    6
Opera Mobile                4
Avant Browser               4
Mozilla                     3
TheWorld Browser            2
SlimBrowser                 2
Flock                       2
Comodo Dragon               2
OmniWeb                     2
Crazy Browser               2
NetNewsWire                 1
PS Vita browser             1
Google Earth                1
Conkeror                    1
Kindle Browser              1
Palm Pre web browser        1
Arora                       1
Epic                        1
Stainless                   1
Googlebot                   1
Outlook 2007                1
IceDragon                   1
IBrowse                     1
Nintendo Browser            1
UC Browser                  1
Name: first_browser, dtype: int64
NDF      124543
US        62376
other     10094
FR         5023
IT         2835
GB         2324
ES         2249
CA         1428
DE         1061
NL          762
AU          539
PT          217
Name: country_destination, dtype: int64
0.0          1483
1000.0         10
420.0           9
375.0           9
281.0           9
             ...
1563103.0       1
10119.0         1
166511.0        1
1342476.0       1
2804544.0       1
Name: secs_elapsed, Length: 128280, dtype: int64

In [98]:
for i in dfmain.columns:
    print(dfmain[i].isna().sum())

0
0
0
0
186211
0
116591
0
0
0
0
0
6071
0
0
0
61668
139636

In [99]:
print(dfmain.columns)

Index(['Unnamed: 0', 'user_id', 'date_account_created',
       'timestamp_first_active', 'date_first_booking', 'gender', 'age',
       'signup_method', 'signup_flow', 'language', 'affiliate_channel',
       'affiliate_provider', 'first_affiliate_tracked', 'signup_app',
       'first_device_type', 'first_browser', 'country_destination',
       'secs_elapsed'],
      dtype='object')

In [100]:
print(dfmain['gender'].value_counts())

-unknown-    129186
FEMALE        77458
MALE          68142
OTHER           333
Name: gender, dtype: int64

In [101]:
print(dfmain['age'].isna().sum())
#Use Mode?

116591

In [102]:
print(dfmain['date_first_booking'].isna().sum())
#drop date_first_booking

186211

In [103]:

print(dfmain['first_affiliate_tracked'].value_counts())

untracked        142934
linked            61967
omg               54796
tracked-other      6653
product            2348
marketing           281
local ops            69
Name: first_affiliate_tracked, dtype: int64

In [104]:
print(dfmain['first_affiliate_tracked'].isna().sum())

6071

In [105]:
print(dfmain['country_destination'].value_counts())

NDF      124543
US        62376
other     10094
FR         5023
IT         2835
GB         2324
ES         2249
CA         1428
DE         1061
NL          762
AU          539
PT          217
Name: country_destination, dtype: int64

In [106]:
dfmain['date_account_created'] = df.date_account_created.dt.strftime('%d/%m/%y')

AttributeError: ignored

In [ ]:
dfmain['month'] = df.date_account_created.dt.month
dfmain['day'] = df.date_account_created.dt.day
dfmain['year'] = df.date_account_created.dt.year